<% layout('layouts/boilerplate')%>

<h1>Driver's Carpools</h1>
<% for (let carpool of carpools){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= carpool.time %> </h5>
                <p class="card-text">Driver: <%= carpool.availability %></p>
                <p class="card-text">Driver: <%= carpool.car_plate %></p>
                <p class="card-text">
                    <small class="text-muted">From: <%= carpool.departure_city%></small>
                </p>
                <p class="card-text">
                    <small class="text-muted">To: <%= carpool.destination_city%></small>
                </p>
                <p class="card-text">
                    <small class="text-muted">Price is $<%=carpool.price%></small>
                </p>
            </div>
        </div>
    </div>
</div>
<% }%>
