<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= carpool.time%></h5>
                <li class="list-group-item text-muted"><%= carpool.departure_city%></li>
                <li class="list-group-item text-muted"><%= carpool.destination_city%></li>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$<%= carpool.price %></li>
            </ul>
            <div class="card-body">
                <li class="list-group-item">$<%= carpool.car_plate %></li>
                <li class="list-group-item">$<%= carpool.availability %></li>
                <a class="card-link btn btn-info" href="/driver-carpools/<%=carpool.carpool_id%>/edit">Edit</a>
                <form class="d-inline" action="/driver-carpools/<%=carpool.carpool_id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>