<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Ride</h1>
    <div class="col-6 offset-3">
        <form action="/rides/<%=ride._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="ride[title]"
                    value="<%=ride.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="ride[location]"
                    value="<%=ride.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="ride[image]"
                    value="<%=ride.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Ride Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="ride[price]" value="<%=ride.price %>"
                        required>\<div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="ride[description]"
                    required><%= ride.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Ride</button>
            </div>
        </form>
        <a href="/rides/<%= ride._id%>">Back To Ride</a>

    </div>
</div>